<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>个人信息</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                  <div class="layui-form-item">
                      <label for="nickname" class="layui-form-label">
                          <span class="x-red">*</span>账号昵称
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="nickname" 
                          name="nickname" value="@user.nickname"
                          required="" lay-verify="nickname"
                          autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          <span class="x-red">*</span>你的账号昵称
                      </div>
                  </div>

                  <div class="layui-form-item">
                      <label for="newpass" class="layui-form-label">
                          新密码
                      </label>
                      <div class="layui-input-inline">
                          <input type="password" id="newpass" name="newpass" lay-verify="repass"
                          autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          6到16个字符。更改账号的登录密码
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="oldpass" class="layui-form-label">
                          旧密码
                      </label>
                      <div class="layui-input-inline">
                          <input type="password" id="oldpass" name="oldpass" lay-verify="oldpass"
                          autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          6到16个字符。更改密码时需要填写
                      </div>
                  </div>
                  
                  <div class="layui-form-item">
                      <label for="btn" class="layui-form-label">
                      </label>
                      <button  class="layui-btn" lay-filter="save" lay-submit="">
                          确认修改
                      </button>
                  </div>
              </form>
            </div>
        </div>
        
        <script>
            layui.use(['form', 'layer'], function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;

                //自定义验证规则
                form.verify({
                    nickname: function(value) {
                        if (value.length < 2) {
                            return '昵称至少需要2个字符';
                        }
                    },
                    oldpass: [/(.+){6,12}$/, '密码必须6到12位'],
                    newpass: function(value) {
                        if ($('#oldpass').val() != $('#newpass').val()) {
                            return '两次密码不一致';
                        }
                    }
                });

                //监听提交
                form.on('submit(save)', function(data) {
                    var url = '/admin/profile';
                    $.post(url, data.field, function(data) {
                        if (data.code == 0) {
                            layer.alert("更改成功", {
                                icon: 6
                            }, function() {
                                //关闭当前frame
                                xadmin.close();

                                // 可以对父窗口进行刷新 
                                xadmin.father_reload();
                            });
                        } else {
                            layer.msg(data.message);
                        }
                    }).fail(function (xhr, status, info) {
                        layer.msg("请求失败");
                    });
                    
                    return false;
                });

            });
        </script>
    </body>

</html>
